!!!html5
/doctype de html5
//arreglo para slider
-fotosslider = ["imgs/comida/club-sandwich.jpg","imgs/comida/hamburger.jpg",
    "imgs/comida/panini.jpg", "imgs/comida/hot-cakes.jpg","imgs/comida/papas.jpg",
    "imgs/comida/combo.jpg"]
%html{class:"full-height"}
    %head
        %meta{charset:"utf-8"}
        %title La mejor comida del mundo | Mi restaurante
        %meta{name:"description", content:"La mejor comida del mundo"}
        /para responsive design
        %meta{name:"viewport", content:"width=device-width, initial-scale=1"}
        / para tener una lista de funcionalidades que funcionan en el navegador
        %script{src:"js/vendor/modernizr-3.5.0.min.js"}
        / para que se evite lo que el navegador disponga, normaliza el contenido
        %link{rel:"stylesheet", href:"css/normalize.css"}
        / bootstrap
        %link{rel:"stylesheet", href:"css/bootstrap.css"}
        %script{src:"js/vendor/jquery-3.2.1.min.js"}
        %script{src:"js/bootstrap.js"}
        / flexbox para centrar verticalmente contenido
        %link{rel:"stylesheet", href:"css/flexboxgrid.min.css"}
        / fuentes google
        %link{href:"https://fonts.googleapis.com/css?family=Lobster", rel:"stylesheet"}
        %link{href:'https://fonts.googleapis.com/css?family=Dancing+Script', rel:'stylesheet', type:'text/css'}
        / mi hoja de estilos con Boilerplate de github
        %link{rel:"stylesheet", href:"css/style.css"}
    %body.full-width
        -# absolute en el body eliminado para pruebas
        -# {class:"full-heigh"}
        / Si se tiene un navegador viejo
        / = es para agregar html al haml
        ="<!--[if lte IE 9]>"
        %p{class:"browserupgrade"}
            Estás usando un navegador
            %strong desactualizado.
            Por favor
            %a{href:"https://browsehappy.com/"}
                actualízalo
            para tener una mejor experiencia
        ="<![endif]-->"

        .video-container.absolute.full-width
            / poster es para que se muestre una imagen hasta que se cargue el video
            %video{autoplay:true, loop:true, class:"fillWidth", poster:"videos/bbq.jpg"}
                %source{src:"videos/bbq.mp4"}
                %source{src:"videos/bbq.webm"}
        // row es clase de flexboxgrid
        // full-heigh es una clase mía que apligo a row, html y body
        // middle-xs de flexboxgrid para centrar verticalmente
        // center-xs de flexboxgrid para centrar horizaontalmente
        .row.full-height.middle-xs.center-xs.relative.ontop.top.full-width#home
            // col-xs-12 clase de flexboxgrid para que el elemento ocupe las 12 columnas de flexbox
            // padding 0 porque automáticamente pone unos paddings que son algo molestos
            -menu = ['Inicio', 'Menú', 'Galería', 'Contacto', 'Cómo llegar']
            %nav.navigation#navtop.fixed
                %ul.list-inline
                    -menu.each do |item|
                        %li
                            %a= item
            .col-xs-12{style:"padding:0;"}
                .box
                    %img{src:"imgs/logo.png", height:"20%"}
                    -# %img{src:"imgs/logo.png", height:"20%"}
                    %h1 Restaurante Vostro
                    %p.glyphicon.glyphicon-time#isopen Abierto ahora
            #barra-inferior.center-xs.absolute
                .row.middle-xs.center-xs
                    .col-xs-7.col-sm-6
                        Atención cálida y comida preparada por artesanos.
                    .col-xs.hidden#stickynav
                        -# .box
                        %nav.navigation#navsticky
                            -menu = ['Inicio', 'Menú', 'Galería', 'Contacto', 'Cómo llegar']
                            %ul.list-inline
                                -menu.each do |item|
                                    %li
                                        %a= item
        .text-center.relative#menu
            .absolute#menu-title{style:"z-index: 10; margin:0; padding:0;"}
                %h3.dancing-script{style:"font-size: 4em;"}
                    Menú
            -menu-photos = [{name: "Club Sandwich" , image: "imgs/comida/club-sandwich-thumb.jpg", price: "75.00"},
                {name: "Hamburguesa de la casa", image:"imgs/comida/hamburger-thumb.jpg", price:"110.00"},
                {name: "Panini de la casa", image:"imgs/comida/panini-thumb.jpg", price:"65.00"},
                {name: "Hot cakes clásicos", image:"imgs/comida/hot-cakes-thumb.jpg", price:"55.00"},
                {name: "Botana al centro", image:"imgs/comida/papas-thumb.jpg", price:"45.00"},
                {name: "Club Sandwich" , image: "imgs/comida/club-sandwich-thumb.jpg", price: "75.00"},
                {name: "Hamburguesa de la casa", image:"imgs/comida/hamburger-thumb.jpg", price:"110.00"},
                {name: "Panini de la casa", image:"imgs/comida/panini-thumb.jpg", price:"65.00"}]
            .row
                -menu-photos.each do |elemento|
                    .col-md-4.col-lg-3.col-sm-6.col-xs-12.food{style:"background-image:url(#{elemento[:image]})"}
                        .black-screen
                            .row.middle-xs.full-height.dancing-script
                                .col-xs-12
                                    %h3{style:"margin: 0; font-size: 2.5em;"}
                                        =elemento[:name]
                                    %p{style:"margin: 0; font-size: 1.5em;"}
                                        ="$"+elemento[:price]
        .full-width#galeria
            //inner es necesario para que se manejable el movimiento del scroll
            //#galería tiene el full-width, pero si tuviera el overflow hidden y el nowrap del white-space no cargaría las imágenes
            .inner
                -fotosslider.each do |image|
                    .image{style:"background-image:url(#{image})"}
        //el container con height 0, permite que el siguiente elemento sea contínuo, y el hijo de
        // container se pueda traslapar con lo superior o inferior
        .container{style:"height:0;"}
            #card
                %h3
                    %span.dancing-script.strong.medium En Restaurante Vostro,
                    %br
                    cocinar no es una profesión,
                    %br
                    ni es cuestión de técnica,
                    %br
                    %span.dancing-script.strong.medium es un Arte.
                %p
                    Ubicados en la ciudad de Tlaltenango de Sánchez Román, estado de Zacatecas, y con el respaldo de más de 15 años de excelencia en calidad gastronómica y servicio, ofrecemos a nuestros comensales la experiencia gourmet en un amplio menú con carnes finas, productos del mar frescos, antojitos mexicanos y platillos internacionales preparados por personal altamente calificado, utilizando técnicas modernas y materia prima de alta calidad. venga y disfrute de un ambiente familiar y deguste nuestras especialidades en platos fuertes, ensaladas, pizzas a la leña, coctelería y postres.
        #contact.full-height
            .row.full-height.middle-xs
                .col-xs-12
                    %p.text-center.white.text-medium-size{style:"margin: 1.5em;"} LLena los campos y presiona enter para enviar la información.
                    .box
                        %form{action:"https://formspree.io/dante.ro86@gmail.com", method:"POST", id:"contact-form"}
                            .row.center-xs
                                // para navegar por los campos, se muestran 3 puntos, uno por campo
                                .col-xs-2.col-md-1
                                    .box{style:"float: right;"}
                                        //ciclo for de 3
                                        -3.times do |i|
                                            //path-step es la clase de las bolitas para navegar entre el formulario
                                            -if i == 0
                                                .path-step.active
                                            -else
                                                .path-step
                                //inputs del formulario, todos son requeridos
                                .col-xs-4
                                    .box
                                        %fieldset.step.active
                                            %input{type:"email", class:"input", name:"email", placeholder:"Escriba su correo electrónico", required:true}
                                        %fieldset.step
                                            %input{type:"text", class:"input", name:"nombre", placeholder:"Escriba su nombre", required: true}
                                        %fieldset.step
                                            %textarea{name:"body", class:"input", placeholder:"Escriba aquí sus comentarios.", required:true}
                                        // el input hidden _subject es para formspree, le pone el value como subject del correo que se enviará
                                        %div
                                            %p.error
                                                %em Verifique la información, el campo es requerido y debe ser correcto!!
        #localizacion
            #mapa
            #mensaje.text-center.fondo-negro.text-white{style:"padding: 1em;"}

        // si se hace un llamado a jquery por cdn, por seguridad se recomienda tener ésto como respaldo por si no carga:
        //%script
        //    window.jQuery || document.write("<script src='js/vendor/jquery-3.2.1.min.js'></script>")
        %script{src:"https://maps.googleapis.com/maps/api/js?key=AIzaSyDLRYy6g1c7eK8MX3AUCsg3T9D1mkWSyXY&libraries=geometry&callback=initMap", async:true, defer:true}
        %script{src:"dist/maps.js"}
        %script{src:"dist/contact-steps.js"}
        %script{src:'dist/script.js'}
